@tailwind base;
/* Firefox */
* {
  scrollbar-width: 0px;
  /* scrollbar-color: var(--secondary) var(--primary); */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  /* background: gray;
  border-radius: 5px; */
}

*::-webkit-scrollbar-thumb {
  /* background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary); */
}

/* For Navbar */
.bg-language-btn{
  background: rgba(255, 255, 255, 0.6);
}
/* For Navbar */

/* For Hero section */
.hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.bg-hero{
  background-image: url("./assets/images/bg-image.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
/* For Hero section */

/* For footer */
.flex-directionq{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/* For footer */
@tailwind components;
@tailwind utilities;
